<h1>Edit group : {{groupId}}</h1>
<br>

<div class="table-responsive">
    <table class="table table-condensed table-hover" cellspacing="0">
        <thead> <th>Area</th> </thead>
        <tbody>
            <tr> <td> <input type="text" class="form-control" id="area" ng-model="updatedGroup.scientificTechnicalArea"
                             value="{{updatedGroup.scientificTechnicalArea}}"/> </td> </tr>
        </tbody>
    </table>
    
    <table class="table table-condensed table-hover" cellspacing="0">
        <thead> <th>Name</th> </thead>
        <tbody>
            <tr> <td> <input type="text" class="form-control" id="name" ng-model="updatedGroup.name"
                             value="{{updatedGroup.name}}"/> </td> </tr>
        </tbody>
    </table>
    
    <table class="table table-condensed table-hover" cellspacing="0">
        <thead> <th>Group Id</th> </thead>
        <tbody> <tr> <td>{{updatedGroup.idGroup}}</td> </tr> </tbody>
    </table>
    
    <!---<table class="table table-condensed table-hover" cellspacing="0">
        <thead><tr><th>Leader</th></tr></thead>
        <tbody>
            <tr> <td> <input type="text" class="form-control" id="leader" ng-model="updatedGroup.leader"
                             value="{{updatedGroup.leader}}"/> </td> </tr>
        </tbody>
    </table>--->
    
    <table class="table table-condensed table-hover" cellspacing="0">
        <thead> <th>Leader:</th> <th> </th> </thead>
        <tbody>
            <tr> <td> <input type="text" class="form-control" ng-disabled="muestraValida == false" ng-model="updatedGroup.leaderName"/>
                 </td>
                 <td>
                    <div ng-if="muestraValida == true">
                        <button class="btn btn-success" ng-click="validateGroup()">Validate</button>
                    </div>
                    <div ng-if="muestraValida == false">
                        <button class="btn btn-primary" ng-click="changeGroup()">Change</button>
                    </div>
                 </td>
            </tr>
        </tbody>
    </table>
    
    <table class="table table-condensed table-hover" cellspacing="0">
        <thead> <th>Phone</th> </thead>
        <tbody>
            <tr> <td> <input type="text" class="form-control" id="phone" ng-model="updatedGroup.phone"
                             value="{{updatedGroup.phone}}"/> </td> </tr>
        </tbody>
    </table>
    
    <table class="table table-condensed table-hover" cellspacing="0">
        <thead> <th>Components</th> </thead>
        <tbody>
            <tr> <td> <textarea class="form-control" id="components" ng-model="updatedGroup.components"
                    rows="3" value="{{updatedGroup.components}}"></textarea> </td> </tr>
        </tbody>
    </table>
    
    <table class="table table-condensed table-hover" cellspacing="0">
        <thead> <th>Lines Of Investigation</th> </thead>
        <tbody>
            <tr> <td> <textarea class="form-control" id="linesOfInvestigation" ng-model="updatedGroup.linesOfInvestigation"
                    rows="3" value="{{updatedGroup.linesOfInvestigation}}"></textarea> </td> </tr>
        </tbody>
    </table>
    
    <table class="table table-condensed table-hover" cellspacing="0">
        <thead> <th>Group Activity</th> </thead>
        <tbody>
            <tr> <td> <textarea class="form-control" id="groupActivity" ng-model="updatedGroup['groupActivity-SICcodes']"
                    rows="3" value="{{updatedGroup['groupActivity-SICcodes']}}"></textarea> </td> </tr>
        </tbody>
    </table>
    
    <table class="table table-condensed table-hover" cellspacing="0">
        <thead> <th>Generated Technology</th> </thead>
        <tbody>
            <tr> <td> <textarea class="form-control" id="generatedTechnology" ng-model="updatedGroup['generatedTechnology-SICcodes']"
                    rows="3" value="{{updatedGroup['generatedTechnology-SICcodes']}}"></textarea> </td> </tr>
        </tbody>
    </table>
    
    <table class="table table-condensed table-hover" cellspacing="0">
        <thead> <th>Keywords</th> </thead>
        <tbody>
            <tr> <td> <textarea class="form-control" id="keywords" ng-model="updatedGroup.keywords"
                    rows="3" value="{{updatedGroup.keywords}}"></textarea> </td> </tr>
        </tbody>
    </table>
</div>

<div>
    <button class="btn btn-success" ng-click="editGroup()">Update</button>
    <button class="btn btn-default" onclick="location.href='#!';">Back</button>
</div>