<div class="table-responsive">
    <table class="table table-condensed table-hover" cellspacing="0">
        <tr>
            <td> <h4>Select a day:</h4> </td>
            <td> <h5> <select name="day" id="day"> </select> </h5> </td>
            <td> <button class="btn btn-primary" ng-click="selectDay()">Select Day</button> </td>
        </tr>
        <tr>
            <td> <h4>Select a month:</h4> </td>
            <td> <h5> <select name="month" id="month"> </select> </h5> </td>
            <td> <button class="btn btn-primary" ng-click="selectMonth()">Select Month</button> </td>
        </tr>
    </table>
</div>
<br>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div>
    <button class="btn btn-default" onclick="location.href='#!/graph';">Back</button>
</div>