<div ng-if="!groups" class="container">
	<div class="row">
		<h3>Obtaining data from the group database...</h3>
		<br>
		<div class="loader"></div>
	</div>
</div>


<div ng-if="groups" class="container">
    <!-- navigation holder -->
    <div class="holder"></div>
    
    <div class="table-responsive">
        <h1>Group List</h1>
        <br>
    
        <table id="tableList" class="table table-condensed table-hover" cellspacing="0">
            <tr ng-repeat="group in groups">
                <td>
                    <h4 class="h4" style="font-weight: bold">{{group.scientificTechnicalArea}}</h4>
                    <p> <b>Name:</b> {{group.name}}</p>
                    <p> <b>Group Id:</b> {{group.idGroup}}</p>
                    <p> <b>Leader:</b> {{group.leader}}</p>
                    <p> <b>Leader Name:</b> {{group.leaderName}}</p>
                    <p> <b>Phone:</b> {{group.phone}}</p>
                    <p> <b>Components:</b> </p>
                        <ul> <li ng-repeat="component in group.components">{{component}}</li> </ul>
                    <p> <b>Lines Of Investigation:</b> </p>
                        <ul> <li ng-repeat="lineInvest in group.linesOfInvestigation">{{lineInvest}}</li> </ul>
                    <p> <b>Group Activity-SICcodes:</b> </p>
                        <ul> <li ng-repeat="groupAct in group['groupActivity-SICcodes']">{{groupAct}}</li> </ul>
                    <p> <b>Generated Technology-SICcodes:</b> </p>
                        <ul> <li ng-repeat="genTechnology in group['generatedTechnology-SICcodes']">{{genTechnology}}</li> </ul>
                </td>
                   
                <td> <a class="btn btn-primary" href="#!/group/{{group.idGroup}}">Edit</button> </td>
                
                <td>
                    <!---Delete a group--->
                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#deleteModal{{$id}}">Delete</button>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{$id}}" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Are you sure that you want to delete this group?</h4>
                                </div>
                                   
                                <div class="modal-body">
                                    <p> <strong>Area: </strong>{{group.scientificTechnicalArea}}</p>
                                    <p><strong>Name: </strong>{{group.name}}</p>
                                    <p><strong>idGroup: </strong>{{group.idGroup}}</p>
                                </div>
                                   
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                                    <button class="btn btn-danger" ng-click="deleteGroup(group.idGroup)"
                                            data-dismiss="modal">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    
    <!-- navigation holder -->
    <div class="holder"></div>
</div>