<h1>Group search</h1>
<br>

<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
          <label class="col-md-4 control-label">Area</label>  
          <div class="col-md-4">
          <input ng-model="search.scientificTechnicalArea" id="scientificTechnicalArea" name="scientificTechnicalArea" type="text" placeholder="Area's name" class="form-control input-md">
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label">Name</label>  
          <div class="col-md-4">
          <input ng-model="search.name" id="name" name="name" type="text" placeholder="Name's name" class="form-control input-md">
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label">Group id</label>  
          <div class="col-md-4">
          <input ng-model="search.idGroup" id="idGroup" name="idGroup" type="text" placeholder="Group id" class="form-control input-md">
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label">Leader</label>  
          <div class="col-md-4">
          <input ng-model="search.leader" id="leader" name="leader" type="text" placeholder="Leader" class="form-control input-md">
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label">Leader Name</label>  
          <div class="col-md-4">
          <input ng-model="search.leaderName" id="leaderName" name="leaderName" type="text" placeholder="Leader name"
                 class="form-control input-md">
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label">Phone</label>  
          <div class="col-md-4">
          <input ng-model="search.phone" id="phone" name="phone" type="text" placeholder="Phone number" class="form-control input-md">
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label">Components</label>  
          <div class="col-md-4">
          <input ng-model="search.components" id="components" name="components" type="text" placeholder="Component's name" class="form-control input-md">
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label">Lines Of Investigation</label>  
          <div class="col-md-4">
          <input ng-model="search.linesOfInvestigation" id="linesOfInvestigation" name="lines Of Investigation" type="text" placeholder="Investigation Lines" class="form-control input-md">
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label">Group Activity (SIC codes)</label>  
          <div class="col-md-4">
          <input ng-model="search['groupActivity-SICcodes']" id="groupActivity" name="Group Activity" type="text" placeholder="Group Activity" class="form-control input-md">
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-4 control-label">Generated Technology (SIC codes)</label>  
          <div class="col-md-4">
          <input ng-model="search['generatedTechnology-SICcodes']" id="generatedTechnology" name="generated Technology" type="text" placeholder="Generated Technology" class="form-control input-md">
          </div>
        </div>
        
        
        <div class="form-group">
          <label class="col-md-4 control-label" for="submit"></label>
          <div class="col-md-4">
            <button id="submit" name="submit" class="btn btn-primary" ng-click="searchGroups()">Search</button>
          </div>
        </div>
    </fieldset>
</form>

<div>
    <table ng-if="groups.length > 0" class="table table-condensed table-hover">
        <tr ng-repeat="group in groups">
            <td>
                <h4 class="h4" style="font-weight: bold">{{group.scientificTechnicalArea}}</h4>
                <p> <b>Name:</b> {{group.name}}</p>
                <p> <b>Group Id:</b> {{group.idGroup}}</p>
                <p ng-if = "url == false"> <b>Leader:</b> {{group.leader}}</p>
                <p ng-if = "url == true"> <b>Leader Name:</b> {{group.leaderName}}</p>
                <p> <b>Phone:</b> {{group.phone}}</p>
                <p> <b>Components:</b> </p>
                    <ul> <li ng-repeat="component in group.components">{{component}}</li> </ul>
                <p> <b>Lines Of Investigation:</b> </p>
                    <ul> <li ng-repeat="lineInvest in group.linesOfInvestigation">{{lineInvest}}</li> </ul>
                <p> <b>Group Activity-SICcodes:</b> </p>
                    <ul> <li ng-repeat="groupAct in group['groupActivity-SICcodes']">{{groupAct}}</li> </ul>
                <p> <b>Generated Technology-SICcodes:</b> </p>
                    <ul> <li ng-repeat="genTechnology in group['generatedTechnology-SICcodes']">{{genTechnology}}</li> </ul>
            </td>
            
            <td> <button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="editGroup(group.idGroup)"></button> </td>
            
            <!---<td> <button class="btn btn-info glyphicon glyphicon-user" ng-click=""></button> </td>--->
            
            <td><!---Delete a group--->
                <button class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal"
                        data-target="#deleteModal{{$id}}"></button>
                
                <!-- Modal -->
                <div class="modal fade" id="deleteModal{{$id}}" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Are you sure that you want to delete this group?</h4>
                            </div>
                                
                            <div class="modal-body">
                                <p> <strong>Area: </strong>{{group.scientificTechnicalArea}}</p>
                                <p><strong>Name: </strong>{{group.name}}</p>
                                <p><strong>idGroup: </strong>{{group.idGroup}}</p>
                            </div>
                                
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                                <button class="btn btn-danger" ng-click="deleteGroup(group.idGroup)"
                                        data-dismiss="modal">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<!---OLD CODE TO SHOW THE RESULT OF THE SEARCH--->
<!---<div>
    <table ng-if="groups.length > 0" class="table table-bordered">
        <thead>
            <tr>
                <th>Area</th>
                <th>Name</th>
                <th>Group id</th>
                <th>Leader</th>
                <th>Phone</th>
                <th>Components</th>
                <th>Lines Of Investigation</th>
                <th>Group Activity</th>
                <th>Generated Technology</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="group in groups">
                <td>{{group.scientificTechnicalArea}}</td>
                <td>
                    <table>
                        <td>{{group.name}}</td>
                    </table>
                </td>
                <td>
                    <table>
                        <td>{{group.idGroup}}</td>
                    </table>
                </td>
                <td>
                    <table>
                        <td>{{group.leader}}</td>
                    </table>
                </td>
                <td>
                    <table>
                        <td>{{group.phone}}</td>
                    </table>
                </td>
                <td>
                    <table>
                        <tr ng-repeat="comp in group.components">
                            <td>{{comp}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr ng-repeat="line in group.linesOfInvestigation">
                            <td>{{line}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr ng-repeat="gr in group['groupActivity-SICcodes']">
                            <td>{{gr}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr ng-repeat="gro in group['generatedTechnology-SICcodes']">
                            <td>{{gro}}</td>
                        </tr>
                    </table>
                </td>

                <td>
                    <button class="btn btn-primary glyphicon glyphicon-pencil" ng-click="editGroup(group.idGroup)"></button>
                    <button class="btn btn-info glyphicon glyphicon-user" ng-click=""></button>
                    <button class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteGroup(group.idGroup)"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>--->